# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# C:/msys64/ucrt64/bin/g++.exe src/main.cpp src/dog.cpp src/sheep.cpp src/input.cpp src/ui.cpp src/utils.cpp src/commonFunc.cpp src/gameLoop.cpp -o out/game.exe -I C:/msys64/ucrt64/include -L C:/msys64/ucrt64/lib -lmingw32 -lSDL2main -lSDL2 -lSDL2_image -mwindows